@model MusicWebsite.Models.Order

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.Display("Title")
        </th>
        <th>
            @Html.Display("Price")
        </th>
        <th>
            @Html.Display("Qty")
        </th>
        
        
    </tr>

    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyToOrder)
            </td>
           
            
        </tr>
    }

</table>
<p>@Html.ActionLink("Finalise and Pay","Pay","Orders",new { id = Model.Id },null)</p>
