@model MusicWebsite.Models.Order

@{
    ViewBag.Title = "Pay";
}

<h1>Order Confirmation</h1>

<h3>Your order has been successfully placed on @Model.PlacedOn <br /> Your Order Number is @Model.Id<br /> You paid $ @Model.GrandTotal (includes $@Model.Total for items and $@Model.ShippingCharges for Shipping) <br /> You ordered @Model.OrderItems.Count number of items.</h3>
<p>@Html.ActionLink("Go to Home","Index","Home")</p>