@model MusicWebsite.Models.Item

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

       

       

     
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName("Quantity Available")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

    </dl></div>

@Html.ActionLink("Enter Qty", "AddQty", new { ItemId = Model.Id})

